In [3]:
import pandas as pd
census = pd.read_csv("~/Desktop/census.csv")
census.head()

,id,patient_name,patient_email,doctor_phone,patient_gender,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_nhs_number,doctor_name,appointment_date,patient_show,is_regular_visit,prescribed_medicines,diagnosis
0,1,Celestyna Dillimore,cdillimore0@dion.ne.jp,674-914-1212,Female,10/18/2018,False,True,59,176,8.200152e+09,Sarena Waliszek,5/1/2018,True,True,triamcinolone acetonide,I669
1,2,Meta Michieli,mmichieli1@loc.gov,172-580-3586,Female,2/8/2018,False,True,77,186,NaN,Farris Robinet,12/7/2017,True,True,NaN,NaN
2,3,Cordie Sancto,csancto2@cafepress.com,794-222-5085,Female,10/9/2018,True,True,90,177,6.145594e+09,Kaspar Spitaro,10/5/2018,False,False,NaN,NaN
3,4,Josh De Ambrosis,jde3@amazon.co.jp,856-540-5195,Male,9/10/2018,True,True,70,150,NaN,Rafferty Fowls,10/21/2018,False,True,NaN,NaN
4,5,Delinda Alfonsini,dalfonsini4@opensource.org,938-978-1131,Female,2/26/2018,False,True,82,140,4.804758e+08,Glenna MacNeachtain,11/15/2018,False,False,NaN,NaN

In [10]:
doctors = pd.get_dummies(census.doctor_name, drop_first=True)
census_dummy = pd.concat([census, doctors], axis=1)
census_dummy.head()

,id,patient_name,patient_email,doctor_phone,patient_gender,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,...,Jilly McGrill,Kaspar Spitaro,Madelina Scurrell,Nerte Elmer,Oralie Swaffer,Rafferty Fowls,Rouvin McKinstry,Ryley Swallow,Sarena Waliszek,Wyn Grassett
0,1,Celestyna Dillimore,cdillimore0@dion.ne.jp,674-914-1212,Female,10/18/2018,False,True,59,176,...,0,0,0,0,0,0,0,0,1,0
1,2,Meta Michieli,mmichieli1@loc.gov,172-580-3586,Female,2/8/2018,False,True,77,186,...,0,0,0,0,0,0,0,0,0,0
2,3,Cordie Sancto,csancto2@cafepress.com,794-222-5085,Female,10/9/2018,True,True,90,177,...,0,1,0,0,0,0,0,0,0,0
3,4,Josh De Ambrosis,jde3@amazon.co.jp,856-540-5195,Male,9/10/2018,True,True,70,150,...,0,0,0,0,0,1,0,0,0,0
4,5,Delinda Alfonsini,dalfonsini4@opensource.org,938-978-1131,Female,2/26/2018,False,True,82,140,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df = census_dummy._get_numeric_data()
df.drop(['patient_nhs_number','id'],axis=1,inplace=True)
df.head()
print(df.columns)
df['diabetic'] = pd.get_dummies(df.patient_diabetic,drop_first=True)
df['allergic'] = pd.get_dummies(df.patient_allergic,drop_first=True)
df['regular_visit'] = pd.get_dummies(df.is_regular_visit,drop_first=True)
df.drop(['patient_diabetic','patient_allergic','patient_show','is_regular_visit'],axis=1,inplace=True)
df.head()

Index(['patient_diabetic', 'patient_allergic', 'patient_weight_kg',
       'patient_height_sm', 'patient_show', 'is_regular_visit', 'Cissy Markey',
       'Dulce McKerley', 'Farris Robinet', 'Flossy Canlin', 'Gabie Brafield',
       'Glenna MacNeachtain', 'Hermina Domeny', 'Humfried Cartmel',
       'Jilly McGrill', 'Kaspar Spitaro', 'Madelina Scurrell', 'Nerte Elmer',
       'Oralie Swaffer', 'Rafferty Fowls', 'Rouvin McKinstry', 'Ryley Swallow',
       'Sarena Waliszek', 'Wyn Grassett'],
      dtype='object')

,patient_weight_kg,patient_height_sm,Cissy Markey,Dulce McKerley,Farris Robinet,Flossy Canlin,Gabie Brafield,Glenna MacNeachtain,Hermina Domeny,Humfried Cartmel,...,Nerte Elmer,Oralie Swaffer,Rafferty Fowls,Rouvin McKinstry,Ryley Swallow,Sarena Waliszek,Wyn Grassett,diabetic,allergic,regular_visit
0,59,176,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
1,77,186,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,90,177,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,70,150,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,1
4,82,140,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [38]:
X_train = df[0:800]
X_test = df[800:1000]
print(X_train.shape,X_test.shape)

(800, 23) (200, 23)

In [40]:
y = df.allergic
X = df.drop(['allergic'], axis=1)
display(y.head())
display(X.head())

0    1
1    1
2    1
3    1
4    1
Name: allergic, dtype: uint8

,patient_weight_kg,patient_height_sm,Cissy Markey,Dulce McKerley,Farris Robinet,Flossy Canlin,Gabie Brafield,Glenna MacNeachtain,Hermina Domeny,Humfried Cartmel,...,Madelina Scurrell,Nerte Elmer,Oralie Swaffer,Rafferty Fowls,Rouvin McKinstry,Ryley Swallow,Sarena Waliszek,Wyn Grassett,diabetic,regular_visit
0,59,176,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,77,186,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,90,177,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,70,150,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
4,82,140,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape )

(800, 22) (200, 22) (800,) (200,)

In [45]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [56]:
np.sum(np.abs(y_test.astype('int64') - clf.predict(X_test).astype('int64')))

110